#!/usr/bin/env zsh
function gty {
    local GHOSTTY_DIR="$HOME/.config/ghostty"
    local CMD="sed -i '' 's:\(config-file = {1}\)/.*:\1/{2}:' $GHOSTTY_DIR/config && osascript -so -e 'tell application \"Ghostty\" to activate' -e 'tell application \"System Events\" to keystroke \",\" using {command down, shift down}'"
    fd \
        --type f \
        --exclude 'config' \
        --base-directory $GHOSTTY_DIR |
        fzf \
            --header="<ctrl-y> :: enable, don't exit" \
            --preview "cat $GHOSTTY_DIR/{}" \
            --delimiter=/ \
            --bind="enter:become:$CMD"
}
